html {
    background-image:url(images/limebg.png);
}

* {
    font-family: cursive;
    text-align: center;
}

.box {
    border: 2px solid black;
    border-radius: 15px;
    background-color: lightyellow;
}


