* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.imag {
    border-radius: 25px;
}

.carnet{
    font-family: 'Times New Roman', Times, serif;

}

html {
    background-image:url(images/yellowcolorbackground.jpg);
}

.btn {
    background-color: transparent;
    border-color: transparent;
    opacity: 0.6;
    transition: 0.3s;
}

.btn:hover {
    opacity: 1;
    cursor: pointer;
}

#boxes {
    content: "";
    display: table;
    clear: both;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    position: relative;
    text-align: center;
    color: white;
}



  